.detail{
    display: flex;
    justify-content: center;
}

.detail-image{
    height: 500px;
    width: 400px;
}

.detail-image-display{
    height: 80%;
}

.detail-image-display img{
    height: 100%;
    width: 100%;
}

.detail-image-list{
    height: 18%;
    display: flex;
    gap: 3px;
    margin-top: 20px;
}

.detail-image-list img{
    height: 100%;
    width: 19.5%;
    cursor: pointer;
}

.detail-image-list img:hover{
    border: 0.5px solid rgb(97, 97, 255);
}

.detail-infor{
    padding-top: 5px;
    padding-left: 5px;
}

.detail-infor > h2{
    font-size: 30px;
}

.detail-brand-sku{
    display: flex;
    gap: 5%;
}

.detail-brand-sku span{
    font-size: 16px;
}

.detail-price{
    font-size: 25px;
}

.buy-cart{
    display: flex;
    flex-direction: column;
}

.buy-cart span:first-child{
    border: 1px solid black;
    cursor: pointer;
}

.buy-cart span:last-child{
    border: 1px solid black;
    cursor: pointer;
}